<div data-controller="visual-loading">
  <%= button_to "Générer mon visuel", generate_visual_llm_chat_path(llm_chat), method: :post, class: "btn btn-dark mb-3", form: { data: { turbo: true } } %>
</div>
