<div class="footer mt-5">
  <div class="footer-pages">
    <a href="#">About us</a>
    <a href="#">Mentions légales</a>
    <a href="#">Contact</a>
  </div>
  <div class="footer-copyright">
    Dreamer <i class="fas fa-heart"></i> Maker
  </div>
    <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
