<div id="hamster-loader" class="loader_modal">
  <%= render partial: "shared/hamster_loader" %>
  <div class="text-center mt-2">Génération du visuel en cours...</div>
</div>
<div id="overlay_modal"></div>
