<h1>A propos</h1>

<p>Dreamer x Maker est une marketplace créative qui connecte des personnes, les Dreamers, ayant des idées d'objets décoratifs — à des Makers, artisans passionnés capables de les réaliser. <br>
Grâce à l'intelligence artificielle, chaque idée devient un visuel avant même d'être fabriqué <br>
Projet réalisé dans le cadre du bootcamp <br><br><br>
Le Wagon Paris, promotion 2026.</p>
