<div class="container">
  <div class="text-center my-5">

    <h1 class="my-5">Imaginez. Partagez. Faites créer.</h1>

    <p class="m-5">Vous avez une idée d'objet, de meuble ou de création unique ?
        Publiez votre projet et entrez en contact avec des makers passionnés.
        Vous êtes maker ? Découvrez des projets inspirants et proposez votre savoir-faire
        pour les concrétiser.</p>

    <%# Show the sign up buttons only when the visitor is NOT logged in %>
    <% unless user_signed_in? %>
      <%= link_to "Dreamer", new_user_registration_path(role: "dreamer"), class: "btn btn-primary mx-5" %>
      <%= link_to "Maker", new_user_registration_path(role: "maker"), class: "btn btn-primary mx-5" %>
    <% end %>
  </div>


  <div class="my-5">
    <h2>Découvrez les projets déjà publiés</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
