<div class="container">

  <h1>Mon Tableau de Bord Dreamer ✨</h1>

  <div>
    <%= link_to "Créer un nouveau projet", class: "btn btn-primary mx-5" %>
  </div>


  <div>
    <h2>Mes matchs : </h2>
    <h3>Ou en sont mes projets ?</h3>

    <div>
      <%= @project.title %>
    </div>

  </div>

</div>
